

@{
    ViewData["Title"] = "Movie Ratings";
}
@using CoderGirl_MVCMovies.Models

<h1>Movie Ratings</h1>

    <a asp-controller="MovieRating" asp-action="Create">Rate A Movie</a> 

    @if (ViewBag.Movies.Count == 0)
    {
        <p>Movie Rating List is empty</p>
    }
    else
    {
        <table>
            <tr>
                <th>Movie</th>
                <th>Rating</th>
            </tr>
            @foreach (var movie in ViewBag.Movies)
            {
                    <tr id=@movie.id>
                        <td>@movie.name</td>
                        <td>@movie.rating</td>
                    </tr>
            }
        </table>
    }


