@Model CoderGirl_MVCMovies.Models.MovieRating

@{
    ViewData["Title"] = "Movie Ratings";
}

<h1>Movie Ratings</h1>
<a asp-controller="MovieRating" asp-action="Create" id="add-movierating">Rate A Movie</a>
<table>
    <tr>
        <th>Movie</th>
        <th>Rating</th>
    </tr>
    @foreach (MovieRating movieRating in Model)
    {
        if (movieRating.Rating != null)
        {
            <tr>
                <td>@movieRating.MovieName</td>
                <td>@movieRating.Rating</td>
                <td><a asp-controller="MovieRating" asp-action="Edit" asp-route-id=@movieRating.Id />Edit</td>
                <td><a asp-controller="MovieRating" asp-action="Delete" asp-route-id=@movieRating.Id />Delete</td>
            </tr>
        }
    }
</table>
